<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
        <a href="{{ "/" | relative_url  }}about">
            <img id="avatar" class="2x" src="{{ site.gravatar }}"/>
        </a>
        <div class="message my-message">
            Are we meeting today? Project has been already finished and I have results to show you.
        </div>
        {% else %}
            <img id="avatar" class="2x" src="{{ site.gravatar }}"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        </header>
    </section>
</div>