#search {
    position: fixed;
    top: 100px;
    width: 20%;
    left: 40%;
    background-color: #fff;
    color: #555;
    padding: 5px;
    border: 2px solid #eee;
    font-size: 1.2rem;
    display: none;
}